<link href="/images/favicons/114x114.png" rel="apple-touch-icon-precomposed" sizes="114x114">
<link href="/images/favicons/120x120.png" rel="apple-touch-icon-precomposed" sizes="120x120">
<link href="/images/favicons/144x144.png" rel="apple-touch-icon-precomposed" sizes="144x144">
<link href="/images/favicons/152x152.png" rel="apple-touch-icon-precomposed" sizes="152x152">
<link href="/images/favicons/180x180.png" rel="apple-touch-icon-precomposed" sizes="180x180">
<link href="/images/favicons/192x192.png" rel="apple-touch-icon-precomposed" sizes="192x192">
<link href="/images/favicons/57x57.png" rel="apple-touch-icon-precomposed" sizes="57x57">
<link href="/images/favicons/60x60.png" rel="apple-touch-icon-precomposed" sizes="60x60">
<link href="/images/favicons/72x72.png" rel="apple-touch-icon-precomposed" sizes="72x72">
<link href="/images/favicons/76x76.png" rel="apple-touch-icon-precomposed" sizes="76x76">
<link href="/images/favicons/114x114.png" rel="apple-touch-icon" sizes="114x114">
<link href="/images/favicons/120x120.png" rel="apple-touch-icon" sizes="120x120">
<link href="/images/favicons/144x144.png" rel="apple-touch-icon" sizes="144x144">
<link href="/images/favicons/152x152.png" rel="apple-touch-icon" sizes="152x152">
<link href="/images/favicons/180x180.png" rel="apple-touch-icon" sizes="180x180">
<link href="/images/favicons/192x192.png" rel="apple-touch-icon" sizes="192x192">
<link href="/images/favicons/57x57.png" rel="apple-touch-icon" sizes="57x57">
<link href="/images/favicons/60x60.png" rel="apple-touch-icon" sizes="60x60">
<link href="/images/favicons/72x72.png" rel="apple-touch-icon" sizes="72x72">
<link href="/images/favicons/76x76.png" rel="apple-touch-icon" sizes="76x76">
<link href="/images/favicons/128x128.png" rel="icon" sizes="128x128" type="image/png">
<link href="/images/favicons/144x144.png" rel="icon" sizes="144x144" type="image/png">
<link href="/images/favicons/32x32.png" rel="icon" type="image/png">
<link href="/images/favicons/16x16.png" rel="icon" sizes="16x16" type="image/png">
<link href="/images/favicons/192x192.png" rel="icon" sizes="192x192" type="image/png">
<link href="/images/favicons/196x196.png" rel="icon" sizes="196x196" type="image/png">
<link href="/images/favicons/256x256.png" rel="icon" sizes="256x256" type="image/png">
<link href="/images/favicons/32x32.png" rel="icon" sizes="32x32" type="image/png">
<link href="/images/favicons/36x36.png" rel="icon" sizes="36x36" type="image/png">
<link href="/images/favicons/384x384.png" rel="icon" sizes="384x384" type="image/png">
<link href="/images/favicons/48x48.png" rel="icon" sizes="48x48" type="image/png">
<link href="/images/favicons/512x512.png" rel="icon" sizes="512x512" type="image/png">
<link href="/images/favicons/72x72.png" rel="icon" sizes="72x72" type="image/png">
<link href="/images/favicons/96x96.png" rel="icon" sizes="96x96" type="image/png">
<link href="/manifest.json?v=2" rel="manifest">
{{ with .Site.Params.brand_color }}
  <link rel="mask-icon" color="{{ . }}" href="/images/favicons/114x114.png">
{{ end }}
<!-- <link rel="shortcut icon" href="/images/favicons/favicon.ico"> -->
<meta content="/browserconfig.xml" name="msapplication-config">
<meta content="/images/favicons/150x150.png" name="msapplication-square150x150logo">
<meta content="/images/favicons/310x310.png" name="msapplication-square310x310logo">
<meta content="/images/favicons/70x70.png" name="msapplication-square70x70logo">
{{ with .Site.Params.brand_color }}
  <meta name="msapplication-TileColor" content="{{ . }}">
{{ end }}
<meta content="/images/favicons/144x144.png" name="msapplication-TileImage">
<meta content="/images/favicons/310x150.png" name="msapplication-wide310x150logo">
{{ with .Site.Params.brand_color }}<meta name="theme-color" content="{{ . }}">{{ end }}