<!-- Set Title Variable -->
{{ $pageTitle := .Title }}
{{ if .IsHome }}
  {{ $pageTitle = .Site.Title }}
{{ else }}
  {{ $pageTitle = (print .Title " | " .Site.Title) }}
{{ end }}
<!-- Set Description Variable -->
{{ $pageDescription := .Description | truncate 150 }}
{{ if .Description }}
  {{ $pageDescription = .Description | truncate 150 }}
{{ else if .IsPage }}
  {{ $pageDescription = .Summary | truncate 150 }}
{{ else }}
  {{ $pageDescription = .Site.Params.description | truncate 150 }}
{{ end }}
<!-- Set Image Variable -->
{{ $pageImage := .Params.image }}
{{ if hasPrefix .Params.image "/assets" }}
  {{ $pageImage = .Params.image | absURL }}
{{ else if .Params.image }}
  {{ $pageImage = .Params.image }}
{{ else }}
  {{ $pageImage = .Site.Params.og_image }}
{{ end }}
<meta
charset="utf-8">
<!--[if IEMobile]>  <meta http-equiv="cleartype" content="on">  <![endif]-->
<meta content="ie=edge" http-equiv="x-ua-compatible">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}">
<meta content="True" name="HandheldFriendly">
<meta content="yes" name="mobile-web-app-capable">
<meta content="320" name="MobileOptimized">
<meta content="index, follow" name="robots">
<meta content="width=device-width,minimum-scale=1,initial-scale=1" name="viewport">
<title>{{ $pageTitle }}</title>
<meta itemprop="description" content="{{ $pageDescription }}">
<meta itemprop="image" content="{{ $pageImage }}">
<meta itemprop="name" content="{{ $pageTitle }}">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta name="apple-mobile-web-app-title" content="{{ .Site.Title }}">
<meta name="application-name" content="{{ .Site.Title }}">
<meta name="DC.description" content="{{ $pageDescription }}">
<meta name="DC.title" content="{{ $pageTitle }}">
<meta name="description" content="{{ $pageDescription }}">
<meta content="True" name="HandheldFriendly">
<meta name="image" content="{{ $pageImage }}">
<meta content="yes" name="mobile-web-app-capable">
<meta content="320" name="MobileOptimized">
<meta name="msapplication-tooltip" content="{{ $pageDescription }}">
<meta content="width=device-width;height=device-height" name="msapplication-window">
<meta content="index, follow" name="robots">
<meta name="title" content="{{ $pageTitle }}">
<meta content="summary_large_image" name="twitter:card">
<meta name="twitter:description" content="{{ $pageDescription }}">
<meta name="twitter:image:src" content="{{ $pageImage }}">
<meta name="twitter:text:title" content="{{ $pageTitle }}">
<meta name="twitter:title" content="{{ $pageTitle }}">
<meta content="width=device-width,minimum-scale=1,initial-scale=1" name="viewport">
<meta property="dcterms:description" content="{{ $pageDescription }}">
<meta property="dcterms:title" content="{{ $pageTitle }}">
<meta property="og:description" content="{{ $pageDescription }}">
<meta property="og:image" content="{{ $pageImage }}">
<meta property="og:site_name" content="{{ .Site.Title }}">
<meta property="og:title" content="{{ $pageTitle }}">
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
<meta property="og:url" content="{{ .Permalink }}">

{{ with .Site.Params.default_content_language }}
  <meta name="DC.language" content="{{ . }}">
{{ end }}

{{ with .Site.Params.locale }}
  <meta property="og:locale" content="{{ . }}">
{{ end }}

{{ with .Site.Social.twitter }}
  <meta content="@{{ . }}" name="twitter:creator">
  <meta content="@{{ . }}" name="twitter:site">
{{ end }}

{{ with $.Site.Author.name }}
  <meta name="DC.creator" content="{{ . }}">
  <meta name="DC.publisher" content="{{ . }}">
{{ end }}

{{ with .Site.Social.facebook }}
  <meta content="https://www.facebook.com/{{ . }}" property="article:author">
  <meta content="https://www.facebook.com/{{ . }}" property="article:publisher">
{{ end }}

{{ with .Site.Params.google_site_verification }}
  <meta name="google-site-verification" content="{{ . }}">
{{ end }}

{{ with .Site.Params.pinterest_domain_verification }}
  <meta name="p:domain_verify" content="{{ . }}">
{{ end }}

{{ if .IsPage }}
  <meta content="Blog" property="article:section">
  <meta itemprop="wordCount" content="{{ .WordCount }}">
  {{ end }}