<link href="https://cdn.jsdelivr.net" rel="dns-prefetch">
<link href="https://fonts.googleapis.com" rel="dns-prefetch">
<link rel="preconnect" href="{{ .Site.BaseURL }}">
<link as="style" href="/vendor.css" rel="stylesheet">
<link as="style" href="/style.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4/dist/instantsearch.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4/dist/instantsearch-theme-algolia.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">