<link rel="dns-prefetch" href="https://cdn.jsdelivr.net">
<link rel="preconnect" href="{{ .Site.BaseURL }}">
<!-- <link rel="preload" href="/vendor.css" as="style"> -->
<link rel="preload" href="/style.pcss" as="style">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4/dist/instantsearch.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4/dist/instantsearch-theme-algolia.min.css">
<!-- <link rel="stylesheet" href="/vendor.css"> -->
<link rel="stylesheet" href="/style.pcss">
<link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">