@import "tailwindcss";

@theme inline {
  --color-brand-green: #77B255;
  --color-brand-green-dark: #5a9a3a;
  --color-brand-green-light: #f0fae8;
  --color-brand-pink: #FF8284;
  --color-brand-black: #181818;
}

body {
  color: #181818;
  font-family: Arial, Helvetica, sans-serif;
}
