<nav class="flex items-center justify-between flex-wrap p-12 max-w-3xl mx-auto">
  <div class="flex items-center flex-no-shrink text-black mr-6">
    <a href="/">
      <img src="/images/logo.svg" alt="Logo" class="h-8 w-8 mr-6">
      <span class="font-bold text-2xl">{{ .Site.Title }}</span>
    </a>
  </div>
  <div class="w-full block flex-grow lg-flex lg-items-center lg-w-auto">
    <div class="text-sm lg-flex-grow"></div>
    <div>
      <a class="inline-block bg-white text-black font-semibold rounded hover-underline transition px-4 py-2 mr-6" href="{{ .Site.Params.github_repo }}" target="_blank" rel="noopener" >
        <img class="h-8 w-8 mr-4" src="/images/github-black.svg" alt="GitHub Logo"><span>Visit on GitHub</span>
      </a>
    </div>
    <div>
      <a class="inline-block bg-green text-white font-semibold rounded hover-bg-green-dark transition px-4 py-2" href="{{ .Site.Params.github_repo }}/issues/new" target="_blank" rel="noopener">Contribute</a>
    </div>
  </div>
</nav>