<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4"></script>
<script type="module" src="/components/search.js"></script>
<script src="/components/form.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-63190978-9"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'UA-63190978-9');
</script>
