<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Apprenticeships</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4/dist/instantsearch.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4/dist/instantsearch-theme-algolia.min.css">
    <link rel="stylesheet" href="/vendor.css">
    <link rel="stylesheet" href="/style.pcss">
  </head>

  <body class="font-primary text-black relative">
    <nav class="flex justify-between items-center max-w-5xl mx-auto w-full py-6">
      <a href="/" class="font-bold text-2xl">Apprenticeships.me</a>
      <div class="text-base font-bold flex justify-between">
        <a href="#" class="bg-white text-black flex justify-between items-center px-4 py-2 rounded">
          <img src="/images/github-black.svg" alt="">
          <span class="ml-2">Visit on Github</span>
        </a>
        <a href="#" class="bg-green text-white px-6 py-2 rounded ml-8 self-center">Contribute</a>
      </div>
    </nav>

    <div class="fixed w-1-6 flex justify-center min-h-half">
      <nav class="fixed-nav bg-pink-lightest p-6 rounded-lg shadow z-50">
        <ul class="list-reset font-bold text-base">
          <li class="mb-4"><a class="scroll-nav__link font-bold text-black-light hover-text-black transition" href="#one">What is an apprenticeship?</a></li>
          <li class="mb-4"><a class="scroll-nav__link font-bold text-black-light hover-text-black transition" href="#two">Listings</a></li>
          <li class="mb-4"><a class="scroll-nav__link font-bold text-black-light hover-text-black transition" href="#three">Resources</a></li>
          <li class="mb-4"><a class="scroll-nav__link font-bold text-black-light hover-text-black transition" href="#four">Contributors</a></li>
        </ul>
      </nav>
    </div>

    <header class="mb-32 min-h-half flex items-center">
      <div class="w-5-6 flex justify-between max-w-lgxl w-full relative mx-auto">
        <h1 class="text-4xl w-96 relative z-40">Find a new career learning from the industry itself.</h1>
        <img class="absolute pin-r pin-t -mt-32 z-20" src="/images/header.svg" alt="">
      </div>
    </header>

    <section id="one" class="bg-pink-lightest py-32 min-h-half flex items-center">
      <div class="flex justify-between max-w-lgxl w-5-6 mx-auto">
        <img src="/images/section-one.svg" alt="">
        <div class="max-w-smxs">
          <h2 class="border-b-2 border-pink inline-block mb-8">What is an apprenticeship?</h2>
          <p class="text-base leading-normal">
            Back in the good old days of the Renaissance, apprenticeships were quite common and acted as legal contracts between
            the apprentice and master. This was a way for apprentices to start learning the necessary skills in their field and
            eventually become masters themselves.</p>
        </div>
      </div>
    </section>

    <section id="two" class="min-h-half">
      <div class="max-w-lgxl w-5-6 mx-auto pt-32">
        <h2 class="border-b-2 border-pink inline-block mb-8">Find an apprenticeship</h2>
        <div class="search">
          <div id="search__box" class="w-full mb-8">
            <!-- SearchBox widget will appear here -->
          </div>
        </div>
        <ul id="hits" class="list-reset flex justify-between flex-wrap">
          {{/* The below is overridden by the index generated by search on load, but still here in case JS doesn't load.
          (Search bar isn't displayed either if JS doesn't load. So default is a list generated by HUGO) */}}
          {{ range .Site.Pages }}
            {{ if .Params.location }}
              <li>
                <a class="post post-entry" href="{{.Params.link}}" target="_blank" rel="noopener noreferrer">
                  <h2 class="post-header">{{ .Params.company }}</h2>
                  <p>{{ .Params.location }}</p>
                  <p>{{ .Params.description }}</p>
                </a>
              </li>
            {{end}}
          {{end}}
        </ul>
        <div id="pagination-container"></div>
      </div>
    </section>

    <section id="three" class="bg-pink-lightest pt-32 py-8 flex min-h-half">
      <div class="w-5-6 max-w-lgxl mx-auto">
        <h2 class="border-b-2 border-pink inline-block mb-8">Related resources</h2>
        <ul class="list-reset">
          <li class="mb-6">
            <a href="">
              <h3 class="text-pink text-lg font-bold">Apprentice.at</h3>
            </a>
            <p class="text-base mt-2">A directory of apprenticeships</p>
          </li>
          <li class="mb-6">
            <a href="">
              <h3 class="text-pink text-lg font-bold">Apprentice.io</h3>
            </a>
            <p class="text-base mt-2">Largest community of U.S. based software engineering apprenticeships</p>
          </li>
          <li class="mb-6">
            <a href="">
              <h3 class="text-pink text-lg font-bold">Apprentice.thoughtbot.com</h3>
            </a>
            <p class="text-base mt-2">Community resources for software apprenticeships</p>
          </li>
        
          <li class="mb-6">
            <a href="">
              <h3 class="text-pink text-lg font-bold">Community resources for software apprenticeships</h3>
            </a>
            <p class="text-base mt-2">A list of apprentice software developer jobs in Chicago.</p>
          </li>
          <li class="mb-6">
            <a href="">
              <h3 class="text-pink text-lg font-bold">TalentPath by Treehouse</h3>
            </a>
            <p class="text-base mt-2">TalentPath by Treehouse aims to help companies scale their engineering teams, find new talent, and achieve their
            business goals by training apprentices with their online courses.</p>
          </li>
          <li class="mb-6">
            <a href="">
              <h3 class="text-pink text-lg font-bold">TechHire Oakland Apprenticeships</h3>
            </a>
            <p class="text-base mt-2">A list of emerging tech apprenticeships in the Bay Area.</p>
          </li>
        </ul>
      </div>
    </section>

    <section id="four" class="flex justify-center flex-col text-center py-64">
      <div class="w-5-6 mx-auto flex justify-center">
        <div class="w-full flex flex-col items-center">
          <h2 class="border-b-2 border-pink inline-block mb-8 max-w-sm self-center">
            Contributors to Apprenticeships.me
          </h2>
          <p class="text-base leading-normal max-w-sm mb-8">
            This site and the listings are all available because of people like you and the contributors below. If you’re looking to contribute to any of the listings or to this site, take a look at the contriubuting guidelines in the repository below.
          </p>
          <ul id="contributor-list" class="list-reset flex flex-wrap justify-between max-w-md w-full"></ul>
          <a href="" class="bg-black text-white mt-8 px-4 py-3 rounded-lg flex justify-between items-center w-48 text-center font-bold text-base"><img src="/images/github-white.svg" alt="">Visit on Github</a>
        </div>
      </div>
    </section>

    <footer class="">
      <div class="flex bg-pink justify-end">
        <p class="w-5-6 mx-auto text-center text-white font-normal py-2">&copy; Copyright
          <script language="JavaScript" type="text/javascript">
            now = new Date
            theYear = now.getYear()
            if (theYear < 1900)
              theYear = theYear + 1900
            document.write(theYear)
          </script>
        </p>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4"></script>
    <script src="./index.js"></script>

  </body>
</html>