<section id="four" class="max-w-2xl mx-auto p-8 md-p-12 lg-p-16 xl-p-20">
  <div class="flex flex-wrap items-center text-center">
    <div class="w-full">
      <h2 class="border-b-2 border-green inline-block max-w-sm self-center">
        Contributors to {{ .Site.Title }}
      </h2>
      <p class="mt-12 mb-12">
        This site and the listings are all available because of contributors like you. If you’re looking to contribute to any of the listings or to this site, take a look at the contributing guidelines in the repository below.
      </p>
      <ul id="contributor-list" class="list-reset flex flex-wrap justify-center"></ul>
    </div>
</section>
