<section id="four" class="p-8 md-p-12 lg-p-16 xl-p-20">
  <div class="max-w-2xl mx-auto">
    <div class="flex flex-wrap items-center text-center">
      <div class="w-full">
        <h2 class="border-b-2 border-green inline-block max-w-sm self-center">
          Contributors to {{ .Site.Title }}
        </h2>
        <p class="mt-12 mb-12">
          This site and the listings are all available because of contributors like you.
        </p>
        <ul id="contributor-list" class="list-reset flex flex-wrap justify-center">

          {{range .Site.Data.github }}
            <li class= "m-2 rounded-full shadow hover-shadow-lg transition">
              <a href="{{.url}}" target="_blank" rel="noopener noreferrer">
                <img class="w-24 h-24 rounded-full" src="{{ .avatar }}" alt="{{.user}}" />
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
</section>