<section class="bg-green-lightest p-8 md-p-12 lg-p-16 xl-p-20" id="five">
  <div class="w-full max-w-sm mx-auto text-center">
    <h2 class="border-b-2 border-green inline-block max-w-sm self-center">Want to contribute?</h2>
    <p class="mt-12 mb-12 text-left">Submit an apprenticeship below or <a class="font-bold text-green-dark hover-text-green-darker no-underline hover-underline transition" href="https://github.com/FrancesCoronel/apprenticeships/issues/new/choose">create an issue on GitHub</a> to add one in.</p>
    <p class="mt-12 mb-12 text-left">Submitting the form below will automatically create the issue on GitHub for you.</p>
    <form class="gh-form bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 text-left">
      <div class="mb-4">
        <label class="block text-grey-darker text-sm font-bold mb-2" for="title">
          Name of Apprenticeship
        </label>
        <input class="shadow border border-white-darker rounded w-full py-2 px-3 text-grey-darker leading-tight" id="title" placeholder="" required type="text">
      </div>
      <div class="mb-4">
        <label class="block text-grey-darker text-sm font-bold mb-2" for="link">
          Link to Apprenticeship
        </label>
        <input class="shadow border border-white-darker rounded w-full py-2 px-3 text-grey-darker leading-tight" id="link" placeholder="https://" required type="text">
      </div>
      <div class="mb-4">
        <label class="block text-grey-darker text-sm font-bold mb-2" for="locations">
          Locations of Apprenticeship
        </label>
        <input class="shadow border border-white-darker rounded w-full py-2 px-3 text-grey-darker leading-tight" id="locations" placeholder="Philadelphia, PA; Falls Church, VA; San Francisco, CA" type="text">
      </div>
      <div class="mb-4">
        <label class="block text-grey-darker text-sm font-bold mb-2" for="description">
          Description of Apprenticeship
        </label>
        <textarea class="shadow border border-white-darker rounded w-full py-2 px-3 text-grey-darker mb-3 leading-tight" id="description" placeholder="Add any other details" rows="5"></textarea>
      </div>
      <div class="g-recaptcha flex justify-center mb-4" data-sitekey="6LeFo54UAAAAAFP4M4vP-jrHQW2GQcA0bhwCXr22"></div>
      <div>
        <input class="gh-form__button block mx-auto mt-4 md-mt-0 bg-green text-white font-bold rounded hover-bg-green-dark transition px-4 py-2" type="submit" value="Submit">
        <div class="flex justify-center items-center w-full">
          <svg class="icon-loader block mx-auto hidden" width="62" height="50" xmlns="http://www.w3.org/2000/svg">
            <g transform="translate(1 14)" fill="#77B255" stroke="#77B255" strokeWidth="2" fillRule="evenodd" strokeLinecap="square">
              <g class="dot-1">
                <circle cx="30" cy="10" r="6" />
              </g>
              <g class="dot-2">
                <circle cx="6" cy="10" r="6" />
              </g>
              <g class="dot-3">
                <circle cx="54" cy="10" r="6" />
              </g>
            </g>
          </svg>
        </div>
      </div>
    </form>
  </div>
</section>