<section class="bg-green-lightest p-8 md-p-12 lg-p-16 xl-p-20" id="five">
  <div class="w-full max-w-sm mx-auto text-center">
    <h2 class="border-b-2 border-green inline-block max-w-sm self-center">Want to contribute?</h2>
    <p class="mt-12 mb-12 text-left">Enter an apprenticeship below or submit it directly <a class="font-bold text-green-dark hover-text-green-darker no-underline hover-underline transition" href="https://github.com/fvcproductions/apprenticeships.me/issues/new/choose">here</a>.</p>
    <form class="gh-form bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 text-left">
      <div class="mb-4">
        <label class="block text-grey-darker text-sm font-bold mb-2" for="title">
          Apprenticeship Title
        </label>
        <input
          class="shadow border border-white-darker rounded w-full py-2 px-3 text-grey-darker leading-tight"
          id="title" type="text" required>
      </div>
      <div class="mb-6">
        <label class="block text-grey-darker text-sm font-bold mb-2" for="description">
          Description
        </label>
        <textarea
          class="shadow border border-white-darker rounded w-full py-2 px-3 text-grey-darker mb-3 leading-tight"
          id="description" required> </textarea>
      </div>
      <div class="flex items-center justify-between">
        <button
          class="block mx-auto mt-4 md-mt-0 bg-green text-white font-bold rounded hover-bg-green-dark transition px-4 py-2"
          type="submit">
          submit
        </button>
      </div>
    </form>
  </div>
</section>