<section class="p-8 md-p-12 lg-p-16 xl-p-20">
  <div class="max-w-2xl mx-auto">
    <div class="flex flex-wrap items-center">
      <div class="prose max-w-md w-full md-w-1-2 px-2">
        <h1 class="text-center lg-text-left mb-12 md-mb-0">Find a new career learning from the industry itself.</h1>
        <div class="text-center lg-text-left mt-8">
          <a href="https://www.producthunt.com/posts/apprenticeships-me?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-apprenticeships-me" target="_blank" rel="noopener">
            <img alt="Apprenticeships.me - Find a new career learning from the industry itself. | Product Hunt Embed" height="54px" src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=153013&theme=light" style="width: 250px; height: 54px;" width="250px" />
          </a>
        </div>
      </div>
      <div class="w-full md-w-1-2 px-2">
        <img alt="Header Image" src="/images/header.svg">
      </div>
    </div>
  </div>
</section>