<section id="one" class="bg-green-lightest p-8 md-p-12 lg-p-16 xl-p-20">
  <div class="max-w-2xl mx-auto">
    <div class="flex flex-wrap items-center">
      <div class="w-full md-w-1-2 px-6 md-px-12 mb-12 md-mb-0">
        <img src="/images/section-one.svg" alt="Section One Image">
      </div>
      <div class="w-full md-w-1-2 px-6 md-px-12 items-center">
        <h2 class="border-b-2 border-green inline-block text-left mx-auto">What is an apprenticeship?</h2>
        <p class="mt-12">Back in the good old days of the Renaissance, apprenticeships were quite common and acted as legal contracts between the apprentice and master. This was a way for apprentices to start learning the necessary skills in their field and eventually become masters themselves.</p>
      </div>
    </div>
  </div>
</section>