<section id="one" class="bg-green-lightest p-8 md-p-12 lg-p-16 xl-p-20">
  <div class="max-w-2xl mx-auto">
    <div class="flex flex-wrap items-center">
      <div class="w-full mb-12 lg-w-1-2 px-6 lg-px-12 lg-12 lg-mb-0">
        <img src="./images/section-one.svg" alt="Section One Image">
      </div>
      <div class="w-full lg-w-1-2 px-6 lg-px-12 items-center">
        <h2 class="border-b-2 border-green inline-block text-left mx-auto">What is an apprenticeship?</h2>
        <p class="mt-12">Back in the good old days of the Renaissance, apprenticeships were quite common and acted as legal contracts between the apprentice and master. This was a way for apprentices to start learning the necessary skills in their field and eventually become masters themselves.</p>
        <p class="mt-6">The number of American apprentices <a class="font-semibold text-green-dark hover-text-green-darker no-underline hover-underline transition" href="https://www.wikiwand.com/en/Apprenticeship#/United_States" target="_blank">has increased from 375,000 in 2014 to 500,000 in 2016</a>, while the federal government intends to see 750,000 by 2019, particularly by expanding the apprenticeship model to include roles in information technology.</p>
      </div>
    </div>
  </div>
</section>