<div class="lg-fixed w-full lg-w-1-5 flex justify-center">
  <nav class="fixed-nav bg-green-lightest p-6 rounded-lg shadow z-50">
    <ul class="list-reset font-bold text-base">
      <li class="mb-4"><a class="scroll-nav__link font-bold text-black-light lg-hover-text-black transition" href="#one">What is an apprenticeship?</a></li>
      <li class="mb-4"><a class="scroll-nav__link font-bold text-black-light lg-hover-text-black transition" href="#two">Listings</a></li>
      <li class="mb-4"><a class="scroll-nav__link font-bold text-black-light lg-hover-text-black transition" href="#three">Resources</a></li>
      <li class="mb-0"><a class="scroll-nav__link font-bold text-black-light lg-hover-text-black transition" href="#four">Contributors</a></li>
    </ul>
  </nav>
</div>