<section class="bg-green-lightest p-8 md-p-12 lg-p-16 xl-p-20" id="three">
  <div class="max-w-2xl mx-auto">
    <h2 class="border-b-2 border-green inline-block">Related resources</h2>
    <ul class="list-reset mt-12">
      <li class="mt-6">
        <a class="text-green-dark hover-text-green-darker no-underline hover-underline transition" href="https://apprentice.at/" rel="noopener" target="_blank">
          <h3 class="font-bold">Apprentice.at</h3>
        </a>
        <p>A directory of apprenticeships</p>
      </li>
      <li class="mt-6">
        <a class="text-green-dark hover-text-green-darker no-underline hover-underline transition" href="https://www.apprenticeship.io/" rel="noopener" target="_blank">
          <h3 class="font-bold">Apprentice.io</h3>
        </a>
        <p>Largest community of U.S. based software engineering apprenticeships</p>
      </li>
      <li class="mt-6">
        <a class="text-green-dark hover-text-green-darker no-underline hover-underline transition" href="http://apprentice.thoughtbot.com/" rel="noopener" target="_blank">
          <h3 class="font-bold">Apprentice.thoughtbot.com</h3>
        </a>
        <p>Community resources for software apprenticeships</p>
      </li>
      <li class="mt-6">
        <a class="text-green-dark hover-text-green-darker no-underline hover-underline transition" href="http://chicagoapprenticeships.com/" rel="noopener" target="_blank">
          <h3 class="font-bold">Chicago Apprenticeships</h3>
        </a>
        <p>A list of apprentice software developer jobs in Chicago.</p>
      </li>
    </ul>
  </div>
</section>