<section id="three" class="bg-green-lightest lg-p-32 min-h-half">
  <div class="max-w-xl mx-auto">
    <h2 class="border-b-2 border-green inline-block">Related resources</h2>
    <ul class="list-reset mt-12">
      <li class="mt-6">
        <a href="" target="_blank" rel="noopener" class="text-green-dark lg-hover-text-green-darker transition">
          <h3 class="font-semibold">Apprentice.at</h3>
        </a>
        <p>A directory of apprenticeships</p>
      </li>
      <li class="mt-6">
        <a href="" target="_blank" rel="noopener" class="text-green-dark lg-hover-text-green-darker transition">
          <h3 class="font-semibold">Apprentice.io</h3>
        </a>
        <p>Largest community of U.S. based software engineering apprenticeships</p>
      </li>
      <li class="mt-6">
        <a href="" target="_blank" rel="noopener" class="text-green-dark lg-hover-text-green-darker transition">
          <h3 class="font-semibold">Apprentice.thoughtbot.com</h3>
        </a>
        <p>Community resources for software apprenticeships</p>
      </li>
      <li class="mt-6">
        <a href="" target="_blank" rel="noopener" class="text-green-dark lg-hover-text-green-darker transition">
          <h3 class="font-semibold">Community resources for software apprenticeships</h3>
        </a>
        <p>A list of apprentice software developer jobs in Chicago.</p>
      </li>
      <li class="mt-6">
        <a href="" target="_blank" rel="noopener" class="text-green-dark lg-hover-text-green-darker transition">
          <h3 class="font-semibold">TalentPath by Treehouse</h3>
        </a>
        <p>TalentPath by Treehouse aims to help companies scale their engineering teams, find new talent, and achieve their
          business goals by training apprentices with their online courses.</p>
      </li>
      <li class="mt-6">
        <a href="" target="_blank" rel="noopener" class="text-green-dark lg-hover-text-green-darker transition">
          <h3 class="font-semibold">TechHire Oakland Apprenticeships</h3>
        </a>
        <p>A list of emerging tech apprenticeships in the Bay Area.</p>
      </li>
    </ul>
  </div>
</section>